#footer {
  padding: 0.1rem 1rem 2rem 1rem;
  background-color: #404040;
  color: white;

  h1,
  h2 {
    font-size: 1.2rem;
    margin: 1.5rem 0 0.35rem 0;
  }

  p {
    font-size: 0.9rem;
    margin: 0.1rem 0 0.1rem 0;
  }

  a {
    color: white;
  }

  .copyright {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
}
